@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.eot");
  src: url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.woff2")
      format("woff2"),
    url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.woff")
      format("woff"),
    url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.ttf")
      format("truetype"),
    url("./assets/fonts/roboto-v30-latin-regular/roboto-v30-latin-regular.svg#Roboto")
      format("svg");
}

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  overflow: hidden;

  background: url("./assets/images/g2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: auto;
}

table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

section {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #a8abfd;
    border-radius: 30px;
    flex: 0 0 40px;
    padding: 40px;
    background: #fff;

    &.el-header {
      padding: 10px 20px;
      margin: 10px 10px 0;
    }

    .title {
      margin: 5px 0 -5px;
      color: #333;
      font-weight: bold;
      font-size: 20px;
    }

    .version {
      font-size: 10px;
      color: #333;
    }

    .description {
      font-size: 12px;
      color: #333;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #efefef;
  color: #333;
}

#app {
  display: flex;
  flex: 1;
}

.app-container {
  display: flex;
  flex: 1;
  overflow: hidden;

  > .el-container {
    display: flex;
    flex: 1;
    padding: 10px;
    border: 0.1px solid #ccc;
  }
}

.el-container {
  display: flex;
  flex: 1;

  > .el-main {
    display: flex;
    flex: 1;

    > .el-form {
      display: flex;
      flex: 1;
      flex-direction: column;

      .table-top {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
      }
    }
  }
}

.el-table {
  display: flex;
  flex: 1;
  width: calc(100vw - 62px);
  max-height: calc(100vh - 166px);
  border-top: 1px solid #efefef;
  background: rgba(255, 255, 255, 0.85);

  tr {
    background: rgba(255, 255, 255, 0.3);
  }

  .el-table__inner-wrapper {
    display: flex;
    flex: 1;

    .el-table__header-wrapper {
      th {
        font-weight: bold;
        color: #111;
      }
    }

    .el-table__body-wrapper {
      display: flex;
      flex: 1;

      td {
        color: #333;

        .el-date-editor {
          width: 100%;

          .el-input__prefix,
          .el-input__suffix {
            display: none;
          }

          input {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .el-table {
    width: 100%;
    border: #0974cc;
  }
}

.el-dialog {
  border-radius: 10px;

  &.add {
    .el-dialog__body {
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
    }
  }
}
